body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.top-image {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px; /* Adjust size as needed */
  height: auto;
  box-shadow: 10px 5px 5px black;
}

.login-container {
  margin-top: 150px; /* Adjust to create space below the image */
  text-align: center;
  background: #e5e4e2;
  width: 400px;
  padding: 50px 20px;
  border: 1px solid #333;
  box-shadow: 10px 5px 5px black;
}

.form {
  border: none;
  padding: 20px 15px;
  background: #d3d3d3;
  color: white;
  text-align: center;
  margin: 10px;
  width: 200px;
}

button {
  background: #99ffff;
  border: none;
  padding: 20px 15px;
  margin: 10px;
  width: 200px;
  color: #fff;
}

a {
  color: orange;
  text-decoration: none;
}