<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/script.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <a href="/fruits">Fruits</a><a href="/meats">Meats</a><a href="/vegetables">Vegetables</a>
        </nav>
    </header>
    <main>
        <p>
            <img src="images/fruits.png" alt="some fruits">
        </p>
        <h1>List of fruits:</h1>
        <ul>
            <% fruits.forEach(fruit => { %>
                <li><a href="/fruits/<%= fruit._id %>"> <%= fruit.name %> </a></li>
            <% }) %> 
        </ul>
        <br><br><br>
        <p>
            <a href="/fruits/new">Add a new fruit</a>
            <a href="/fruits/seed" class="align-right">Reset fruits</a>
        </p>
    </main>
</body>
</html>